<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LOUConnect</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="d-flex float-left flex-column justify-content-between my-auto" id="blue-section">
        <header>
            <nav class="navbar navbar-light navbar-expand-md text-left float-left" id="nav">
                <div class="container-fluid"><a class="navbar-brand roboto" href="#"><strong>LOUC</strong>o</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link roboto" href="#">First Item</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link roboto" href="#">Second Item</a></li>
                            <li class="nav-item" role="presentation"></li>
                        </ul>
                </div>
                </div>
            </nav>
        </header>
    </section>
    <section class="d-flex float-right flex-column my-auto" id="white-section" style="margin: 0 auto;font-family: Roboto;">
        <div class="container" id="skill-cont">
            <section class="d-flex flex-column align-items-start align-self-start mr-auto" id="skills-section" style="font-size: 14px;width: 510px;">
                <h1 style="font-size: 22px;margin-bottom: 20px;"><strong>Quais são suas habilidades?</strong></h1>
                <div id="tags-search" style="width: 100%;">
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 100%;margin-bottom: 20px;">
                        <div class="col" style="padding-left: 0px;">
                            <div class="float-left float-md-right mt-5 mt-md-0 search-area"><i class="fas fa-search float-left search-icon"></i><input class="float-left float-sm-right custom-search-input b-r-4" type="search" placeholder="Type to filter by address" style="height: 30px;"></div>
                        </div>
                        <div class="col">
                            <p class="m-b-5" style="font-size: 12px;">Área do Conhecimento</p><select class="b-r-4" style="width: 100%;height: 30px;"><option value="21" selected="">Todas</option><option value="22">Tecnologia</option><option value="23">Arte e Design</option><option value="25">Comunicação</option><option value="26">Outros</option></select></div>
                    </div>
                    <div id="skills-tag" class="m-1 tag-div b-r-10"><span class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Linguagem C</span><span class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Arduino</span><span class="badge badge-pill badge-danger m-1 site-badge-pill"
                            data-role="tagsinput">Pintura</span><span class="badge badge-pill badge-danger m-1 site-badge-pill">Adobe XD</span><span class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Adobe Illustrator</span>
                        <span
                            class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Impressão 3D</span><span class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Python</span><span class="badge badge-pill badge-success m-1 site-badge-pill" data-role="tagsinput">Gestão Ágil</span>
                            <span
                                class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Adobe Photoshop</span><span class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Corte à Laser</span><span class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Marketing</span>
                                <span
                                    class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Unity</span><span class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Modelagem 3D</span><span class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Raspberry Pi</span>
                                    <span
                                        class="badge badge-pill badge-primary m-1 site-badge-pill" data-role="tagsinput">Quartus II</span><span class="badge badge-pill badge-danger m-1 site-badge-pill" data-role="tagsinput">Figma</span><span class="badge badge-pill badge-primary m-1 site-badge-pill">C++</span><span class="badge badge-pill badge-primary m-1 site-badge-pill">Java</span></div>
                </div>
                <div id="skills-selec" style="width: 100%;margin-top: 5px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;">
                    <p class="m-b-5">Suas habilidades:</p>
                    <div class="tag-div m-1 b-r-10"></div>
                </div>
                <div id="skills-bot" class="m-1" style="font-size: 12px;width: 100%;">
                    <p>Não encontrou uma tag que representa sua habilidade? Crie uma nova tag!</p>
                    <h1 style="font-size: 24px;margin-left: 0px;"><strong>Crie sua Tag</strong></h1>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 100%;">
                        <div class="col" style="margin-right: 0px;">
                            <div style="margin-left: -15px;">
                                <p class="m-b-5">Nome da Tag</p><input type="text" class="b-r-4" style="margin-top: 0px;width: 100%;height: 30px;"></div>
                        </div>
                        <div class="col" style="font-size: 12px;margin-left: 0px;">
                            <div style="margin-top: 0px;">
                                <p class="m-b-5">Área do Conhecimento</p><select class="b-r-4" style="width: 100%;height: 30px;"><option value="21" selected="">Todas</option><option value="22">Tecnologia</option><option value="23">Arte e Design</option><option value="25">Comunicação</option><option value="26">Outros</option></select></div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;">
                        <div class="col"><button class="btn btn-primary btn-sm float-right site-btn-sm" type="button" style="margin-top: 20px;margin-right: 0px;height: 30px;font-size: 12px;">CRIAR TAG</button></div>
                    </div>
                </div>
            </section>
            <div class="col" style="width: 100%;height: 48px;">
                <div style="width: 100%;height: 48px;margin-right: 40px;"><a class="btn btn-primary shadow-sm float-right" role="button" id="site-btn" style="color: rgb(232,232,232);margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-left: 0px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;"
                        href="signup-describe.html">PRÓXIMO</a><a class="btn btn-primary shadow-sm float-right" role="button" id="site-btn-sec" style="margin-left: 0px;margin-bottom: 0px;margin-right: 20px;margin-top: 0px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;"
                        href="signup.html">VOLTAR</a></div>
            </div>
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;margin-top: 10px;">
                <div class="col" style="padding-right: 0px;padding-left: 0px;">
                    <div class="d-xl-flex justify-content-xl-center"><input type="radio" class="m-1" disabled=""><input type="radio" class="m-1" disabled="" checked=""><input type="radio" class="m-1" disabled=""></div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/mask_init.js"></script>
</body>

</html>