<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LOUConnect</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="float-left" id="blue-section">
        <nav class="navbar navbar-light navbar-expand-md float-left" style="display: none;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><strong>LOUC</strong>o</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">First Item</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="d-flex float-right flex-column" id="white-section">
        <div class="container d-flex d-xl-flex flex-column align-items-start align-content-start mr-auto justify-content-xl-start" id="skills-section" style="width: 510px;font-size: 14px;">
            <div style="width: 100%;">
                <h1 style="width: 76%;font-size: 22px;margin-bottom: 10px;">Só mais um pouco! A gente adoraria te conhecer um pouco mais.<br></h1>
                <p>No LOUCo, sempre buscamos conhecer quem frequenta o laboratório. Então, você pode deixar uma descrição rápida sobre si próprio e sua vida profissional. Sinta-se à vontade para deixar links como currículo, Behance e LinkedIn.<br></p>
                <textarea
                    class="tag-div" style="margin-top: 0px;border: 1px solid #000000;box-sizing: border-box;border-radius: 10px;max-height: 200px;height: 200px;text-align: left;padding-top: 0px;padding-bottom: .4em;padding-right: .4em;"></textarea>
            </div>
            <div style="width: 100%;">
                <p>Se quiser, coloque informações de contato alternativas:<br></p>
                <p class="m-b-5" style="font-size: 12px;">Telefone / Celular</p><input type="text" class="b-r-4" style="width: 70%;" placeholder="+55(81)90000-0000" data-mask="+00(00)00000-0000">
                <p class="m-b-5" style="font-size: 12px;">Website Pessoal</p><input type="text" style="width: 70%;" placeholder="www.website.com"></div>
        </div>
        <div class="col" style="width: 100%;max-height: 79px;height: 79px;margin-top: 40px;">
            <div style="width: 100%;height: 48px;"><a class="btn btn-primary shadow-sm float-right" role="button" id="site-btn" style="color: rgb(232,232,232);margin-top: 0px;margin-right: 150px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">PRÓXIMO</a><a class="btn btn-primary shadow-sm float-right"
                    role="button" id="site-btn-sec" style="margin-right: 20px;margin-top: 0px;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;" href="signup-tags.html">VOLTAR</a></div>
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px;margin-top: 10px;">
                <div class="col" style="padding-right: 0px;padding-left: 0px;">
                    <div class="d-xl-flex justify-content-xl-center"><input type="radio" class="m-1" disabled=""><input type="radio" class="m-1" disabled="" checked=""><input type="radio" class="m-1" disabled=""></div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/mask_init.js"></script>
</body>

</html>