<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LOUConnect</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="d-flex float-left flex-column justify-content-between my-auto" id="blue-section">
        <header id="nav">
            <nav class="navbar navbar-light navbar-expand-md text-left float-left">
                <div class="container-fluid"><a class="navbar-brand roboto" href="#"><strong>LOUC</strong>o</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link roboto" href="#">First Item</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link roboto" href="#">Second Item</a></li>
                            <li class="nav-item" role="presentation"></li>
                        </ul>
                </div>
                </div>
            </nav>
        </header>
    </section>
    <section class="d-flex float-right flex-column my-auto" id="white-section" style="margin:  0 auto;">
        <div class="container d-flex flex-column justify-content-between" id="signup-container" style="font-size: 11px;font-family: Roboto;margin-top: 70px;">
            <section>
                <div id="signup-top">
                    <h1 class="d-lg-flex justify-content-lg-center roboto" id="signup-title"><strong>Bem-vindo ao LOUCo.</strong></h1>
                    <div class="form-group m-b-5">
                        <p class="p-l-5 m-b-5">Nome Completo</p>
                        <form><input class="form-control form-control-sm margin-top--10 input-area-height b-r-4" type="text" placeholder="Preencha seu nome aqui..." required=""></form>
                    </div>
                    <div class="form-group margin-top--10 m-b-5">
                        <p class="p-l-5 m-b-5">CPF</p>
                        <form><input class="form-control form-control-sm margin-top--10 input-area-height b-r-4" type="text" required="" placeholder="000.000.000-00" data-mask="000.000.000-00"></form>
                    </div>
                    <div class="form-group margin-top--10 m-b-5">
                        <p class="p-l-5 m-b-5">Email</p>
                        <form><input class="form-control form-control-sm margin-top--10 input-area-height b-r-4" type="email" placeholder="email@domain.com"></form>
                    </div>
                    <div class="row m-b-5" id="signup-inner-block" style="margin-right: 0px;margin-left: 0px;height: 46px;margin-bottom: 5px;">
                        <div class="col" style="width: 50%;padding-left: 0px;padding-right: 7.5px;height: 46px;">
                            <div class="form-group" id="date-area" style="margin-bottom: 0px;width: 100%;">
                                <p class="p-l-5 m-b-5">Data de Nascimento</p>
                                <form><input class="form-control form-control-sm margin-top--10 input-area-height b-r-4" type="text" data-mask="00/00/0000" placeholder="dd/mm/aaaa"></form>
                            </div>
                        </div>
                        <div class="col" style="padding-right: 0px;padding-left: 7.5px;width: 50%;height: 46px;">
                            <div class="form-group" id="gender-area" style="margin-bottom: 0px;width: 100%;">
                                <p class="p-l-5 m-b-5">Gênero</p>
                                <form><select class="form-control form-control-sm margin-top--10 input-area-height b-r-4" placeholder="••••••••••"><option value="">Escolha...</option><option value="12">Masculino</option><option value="13">Feminino</option><option value="14">Não-Binário</option><option value="15">Prefiro não dizer</option></select></form>
                            </div>
                        </div>
                    </div>
                    <div class="form-group margin-top--10 m-b-5">
                        <p class="p-l-5 m-b-5">Senha</p>
                        <form><input class="form-control margin-top--10 input-area-height b-r-4" type="password" placeholder="••••••••••"></form>
                    </div>
                    <div class="form-group margin-top--10">
                        <p class="p-l-5 m-b-5">Confirmar Senha</p>
                        <form><input class="form-control margin-top--10 input-area-height b-r-4" type="password" placeholder="••••••••••"></form>
                    </div>
                </div>
                <div id="signup-bot" style="margin-top: 5px;">
                    <div class="form-group margin-top--10 m-b-5">
                        <p class="p-l-5 m-b-5">Nível de Formação</p>
                        <form><select class="form-control form-control-sm margin-top--10 input-area-height b-r-4"><option value="">Escolha...</option><option value="16">Ensino fundamental incompleto</option><option value="16">Ensino fundamental completo</option><option value="14">Ensino médio incompleto</option><option value="15">Ensino médio completo</option><option value="16">Ensino superior incompleto</option><option value="17">Ensino superior completo</option></select></form>
                    </div>
                    <div class="form-group margin-top--10 m-b-5">
                        <p class="p-l-5 m-b-5">Área de Atuação</p>
                        <form><input class="form-control form-control-sm margin-top--10 input-area-height b-r-4" type="text"></form>
                    </div>
                </div>
            </section>
        </div>
        <div class="row d-flex d-xl-flex flex-column justify-content-center align-self-baseline mb-auto justify-content-xl-center" id="row-move" style="width: 100%;margin-top: 40px;margin-right: 0px;margin-left: 0px;margin-bottom: 0px;height: 100px;">
            <div class="col" style="font-family: Roboto;font-size: 12px;width: 100%;padding-right: 0px;padding-left: 0px;height: 100%;"><a class="btn btn-primary btn-lg float-right roboto" role="button" id="site-btn" style="font-family: Roboto;line-height: 1.0;font-size: 17px;margin-top: 0px;margin-bottom: 0px;padding-top: 14px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;"
                    href="signup-tags.html">PRÓXIMO</a>
                <div class="text-center" id="row-next-radio" style="margin-top: 0px;padding-right: 0px;padding-top: 100px;height: auto;width: 100%;">
                    <div id="radio" style="width: 100%;padding-left: 0px;margin: 0 auto;"><input type="radio" class="m-1" checked=""><input type="radio" class="m-1" disabled=""><input type="radio" class="m-1" disabled=""></div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/mask_init.js"></script>
</body>

</html>